body {
  background-image: url("body-bg.jpg");
  margin: 0;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin: 2vw;
}

.container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

.card {
  box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
  max-width: 30vw;
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 15px;
  padding: 3vw;
}
  
.title {
  color: rgb(88, 88, 88);
  font-size: 18px;
  margin: 0.5vw;
}

img {
  box-sizing: 50%;
  margin: 1vw;
  border-radius: 50%;
}

footer {
  margin: 0;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 20px;
  align-items: center;
  background-color: #333;
  color: white;
  font-family: "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
}

footer p {
  align-items: center;
  color: white;
  padding-top: 40px;
}

footer a {
  text-decoration-line: underline;
  align-items: center;
  color: white;
  padding-top: 20px;
}

footer a:hover {
  color: rgb(68, 0, 255);
}

@media screen and (max-width: 700px) {

  .container {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .card {
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
    max-width: 50vw;
    text-align: center;
    font-family: "Georgia", serif;
    font-size: 5vw;
    padding: 10vw;
    margin: 5vw;
  }
    
  .title {
    color: rgb(88, 88, 88);
    font-size: 18px;
    margin: 1vw;
  }
  
  img {
    box-sizing: 50%;
    margin: 1vw;
    border-radius: 50%;
  }

}